* {
    font-family: "Segoe UI, Helvetica, Arial, sans-serif"
}

.pagination {
    text-align: center;
    margin-bottom: -10px;
}

.pagination a {
    font-size: 22px;
    line-height: 3em;
    text-decoration: none;
    color: rgb(0, 139, 255);
}

.pagination a:hover {
    font-size: 22px;
    text-decoration: underline;
    color: rgb(0, 139, 255);
}

.pagination a.disabled {
    color: black;
}

.pagination a.disabled:hover {
    color: black;
    cursor: default;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-header {
    font-size: 30px;
}

.search-control {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}

.search-control input {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 600px;
}

.search-total {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.search-result h5, .search-result h5 * {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.search-result h5 {
    margin-bottom: 25px;
}

.search-result h5 a:hover {
    text-decoration: underline;
}


.search-result .content {
    font-size: 20px;
}

.search-result .content b {
    color: #EE1010;
}

.waiting {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
